h1 {
    color: green;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: green;
    padding-top: 5px;
    padding-bottom: 5px;
}

th, tr , td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
}

form {
    width: 300px;
    margin: 0;
}

#form-items {
    display: flex;
    flex-direction: column;
    padding: 16px;
    
}

#submit-button {
    width: 30%;
    margin: auto;
}

.available-cell {
    text-align: center;
}