{% extends "base.html" %}
{% block content %}
<main id="all-books-main-container">
    <section>
        <h1>All Books</h1>
        <table>
            <thead>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Available</th>
                <th>Details</th>
                <th>Remove</th>
            </thead>
            <tbody>
        
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
        
                    {% if book.checked_out %}
                    <td class="available-cell">Checked out: &#10060;</td>
                    {% else %}
                    <td class="available-cell">Available: &#9989;</td>
                    {% endif %}
        
                    <td><a href="/books/{{ loop.index0 }}">Show</a></td> <!-- or books.index(book)  -->
                    <!-- <td><a href="/books/delete/{{ loop.index0 }}">Delete</a></td>  works as a get request but not what was requested on the homework --> 
                    <td>
                        <form action="/books/delete" method="POST">
                            <input type="text" name="book-title" value="{{ book.title }}" hidden>
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
       <br>
        <form action="/books/delete" method="POST" id="delete-books-form">
            <section>
                <label for="delete">Delete Book by Title:</label>
                <input type="text" name="book-title" placeholder="Enter Title">
                <input type="submit" value="Delete">
            </section>
        </form>
        <br>
        <a href="/books/new" id="add-book-link">Add new Book</a>
    </section>
</main>
{% endblock %}